[submodule "module"]
    path = module
    url = git@github.com:berezhinskiy/git-submodule-module.git
[submodule "module-dev"]
	path = module-dev
	url = git@github.com:berezhinskiy/git-submodule-module.git
	branch = dev
